<div class="container">
<div class="page-header"><h2>Edit <%= resource_name.to_s.humanize %> Profile</h2></div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field input-group input-group-sm col-xs-8">
    <%= f.label :email , class: "input-group-addon"%>
    <%= f.email_field :email, class: "form-control",autofocus: true %>
  </div>
  <br>
  <div class="field input-group input-group-sm col-xs-8">
    <%= f.label :username ,class: "input-group-addon"%>
    <%= f.email_field :username, class: "form-control", autofocus: true %>
  </div>
   <br>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
<i>(leave blank if you don't want to change it)</i>
  <div class="field input-group input-group-sm col-xs-8">
    <%= f.label :password, class: "input-group-addon" %> 
    <%= f.password_field :password, class: "form-control", autocomplete: "off", placeholder: "#{@minimum_password_length} characters minimum"%>
  </div>
<br>
  <div class="field input-group input-group-sm col-xs-8">
    <%= f.label :password_confirmation , class: "input-group-addon"%>
    <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
  </div>
<br>
<i>(we need your current password to confirm your changes)</i>
  <div class="field input-group input-group-sm col-xs-8">
    <%= f.label :current_password , class: "input-group-addon"%> 
    <%= f.password_field :current_password, class: "form-control", autocomplete: "off" %>
  </div>
<br>
  <div class="actions input-group input-group-sm col-xs-4">
    <%= f.submit "Update" ,class: "form-control"%>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? 
 <div class="actions input-group input-group-sm col-xs-4">
<%= button_to "Cancel my account", registration_path(resource_name),class: "form-control", data: { confirm: "Are you sure?" }, method: :delete %>
 </div></p>

<%= link_to "Back", :back %>
</div>
