
	<span id="option_<%=option.id%>">
	<%if voter_signed_in?%>
	<%=form_for @vote,url:votes_create_path,remote: true do |v|%>
	
	<%=v.hidden_field :option_id,:value=> option.id%>
	<%=v.hidden_field :poll_id,:value=> option.poll.id%>
	<%=v.hidden_field :voter_id,:value=> current_voter.id%>
	
	<%=v.submit option.name ,class:" btn  btn-md btn-info"%>

	<%end%>

	<%else%>
	

	<input type="submit" name="commit" value="<%=option.name%>" class=" btn  btn-md btn-info">
	<br>
	<%end%>
	<br>
	
	</span>
