<a href="#poll_<%=poll.id%>" data-toggle="collapse">
<div class="container">
<h4><%=poll.title%></h4>
</div></a>

<div id = "poll_<%=poll.id%>" class="collapse container">
<br>
<h5><%=poll.content%>
<small> <%=pluralize(poll.votes.length,'vote')%> on this poll</small>
<br>
</h5>
<%@all_votes.where(poll_id:poll.id).length%>
<%if Time.now<poll.end_time%>
<%options=@all_options.where(poll_id: poll.id)%>
<%#if voter_signed_in? && @all_votes.find_by(voter_id: current_voter.id,poll_id: poll.id).nil?%>
<%#options.each do |o|%>
<%#=render 'option',option:o%>
<%#end%>
<%#elsif voter_signed_in?%>
<!-- thank you for voting!<br> -->
<%#else%>
<%#options.each do |o|%>
<%#=render 'option',option:o%>
<%#end%>
<%#end%>
	<%if voter_signed_in?%>
		<%if @all_votes.find_by(voter_id: current_voter.id,poll_id: poll.id).nil?%>
			<%options.each do |o|%>
				<%=render 'option',option:o%>
			<%end%>
		<%else%>
		<span class="label label-success">thank you for voting!</span>
		
		<%end%>
	<%else%>
		<%options.each do |o|%>
			<%=render 'option',option:o%>
		<%end%>
	<%end%>
	<span class="label label-info">Active</span>
<%else%>
<span class="label label-danger">The poll has ended!</span>

<%end%>
</div>



