<!DOCTYPE html>
<html>
<head>
  <title>Referendum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<!--   <link rel="stylesheet" type="text/css" href="jquery.countdown.css"> 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="jquery.plugin.js"></script> 
<script type="text/javascript" src="jquery.countdown.js"></script> -->
<div class="container">
 
<!-- .navbar-fixed-top, or .navbar-fixed-bottom can be added to keep the nav bar fixed on the screen -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
 
      <!-- Button that toggles the navbar on and off on small screens -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
 
      <!-- Hides information from screen readers -->
        <span class="sr-only"></span>
 
        <!-- Draws 3 bars in navbar button when in small mode -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Referendum</a>
 
      <!-- You'll have to add padding in your image on the top and right of a few pixels (CSS Styling will break the navbar) -->
      
    </div>
 
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        
        <li><a href="#">About</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact Us <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Email</a></li>
            <li><a href="#">Phone</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Set Appointment</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
		<%if voter_signed_in?%>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hi <%=current_voter.username%>! <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Logout</a></li>
            
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" id="notificationbox" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Notifications<span class="badge">0</span><span class="caret"></span></a>
          <ul class="dropdown-menu">
          <div id="notifications" style="padding: 10px">
            <li>No Notifications</li>
             <li role="separator" class="divider"></li>
          </div>
          <div id="read_all" style="padding: 10px">Mark all as read</div>
          </ul>
        </li>
        <%else%>
			<%=link_to "Signin",new_voter_session_path%>
		<%end%>
      </ul>
      <!-- navbar-left will move the search to the left -->
     
      <form  class="navbar-form navbar-right" role="search"id="search-form" action="/home/index" accept-charset="UTF-8" method="get"><div class="form-group"><input name="utf8" type="hidden" value="✓">
    <input type="text" name="search" id="search" placeholder="Search Polls" data-autocomplete="/home/autocomplete_poll_title" class="ui-autocomplete-input form-control" autocomplete="off">
    </div>
    <input type="submit" name="commit" value="Search" class="btn btn-default">
</form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
<br>
<script type="text/javascript">
<%if voter_signed_in?%>
	var current_voter_id=<%=current_voter.id%>
<%end%>
</script>

</head>

<body>
<% if notice %>
<script type="text/javascript">
	noty({text: '<%= notice %>', type: 'success'});
</script>

<% end %>



<% if alert %>

<script type="text/javascript">
	noty({text: '<%= alert %>', type: 'error'});
</script>
<% end %>
<!-- <div id="defaultCountdown">herer</div> -->
<%= yield %>

</body>
</html>
